version: "3.8"
  #Khai bao container
services:
  mysql-springboot-container:
    image: mysql:8.0.32
    container_name: mysql-springboot-container
    ports:
      - 3310:3306
    volumes:
      - mysql-springboot-data:/var/lib/mysql
      - mysql-springboot-config-deamond:/etc/mysql/conf.d
    environment:
      MYSQL_USER: phanhoang
      MYSQL_PASSWORD: 10022002
      MYSQL_ROOT_PASSWORD: 10022002
      MYSQL_DATABASE: StudentManagement
    networks:
      - backend
  app-springboot-container:
    image: phanhoang102/docker-composer-springboot:v1.0.0
    container_name: app-springboot-container
    ports:
      - 8085:8083
    networks:
      - backend
    volumes:
      - ./:/app
networks:
  backend:
    name: springboot-app-network
volumes:
  mysql-springboot-data:
  mysql-springboot-config-deamond:

